*{
    padding:0;
    margin:0;
}

.container{
    width:90%;
    height:1000px;
    background-color:#f0f8ff;
    margin:auto;
    
    
}

header{
    width:100%;
    height:60px;
    background-color:#116190;
    color:#fff;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}

nav{
    width:100%;
    height:30px;
    background-color: #ce8416;
    color:#fff;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}
section{
    width:60%;
    height:400px;
    background-color:#DAF7A6;
    color:#000;
    font-size: 30px;
    text-align: center;
   display:flex;
   align-items: center;
   justify-content: center;
}