*{
    padding:0;
    margin:0;
}

.container{
    width:90%;
    height:550px;
    margin:auto;
    
    
}

header{
    width:100%;
    height:60px;
    background-color:#104969;
    color:#fff;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}

nav{
    width:100%;
    height:30px;
    background-color: #ce8416;
    color:#fff;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    margin:10px 0px;
}
section{
    width:100%;
    height:400px;
    background-color:#DAF7A6;
    color:#000;
    font-size: 30px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:10px 0px;
}

footer{
    width:100%;
    height:60px;
    font-size: 30px;
    background-color:#444;
    color:#fff;
    margin:10px 0px;
    display:flex;
    align-items: center;
    justify-content: center;
}